<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}">

    <link rel="icon"
          type="image/png"
          href="{{ '/assets/images/favicon.png' | relative_url }}">

</head>

<body>

<header class="site-header">
    <div class="site-header-inner">

        <a class="site-title" href="{{ '/' | relative_url }}">
            Digital Graphics Foundations
        </a>

        <nav class="top-nav">
            <a href="{{ '/' | relative_url }}">Home</a>
        </nav>

    </div>
</header>

<div class="page-layout">

    <aside class="sidebar">

        <div class="sidebar-section">
            <h3>Lessons</h3>

            <a href="{{ '/lessons/01-digital-graphics-foundations.html' | relative_url }}">
                <span>01</span>
                Foundations of Digital Graphics
            </a>

            <a href="{{ '/lessons/02-point-line-plane.html' | relative_url }}">
                <span>02</span>
                Visual Elements: Point, Line, Shape & Plane
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>03</span>
                Vector Geometry & Transformations
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>04</span>
                Color & Visual Style
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>05</span>
                Principles of Visual Composition
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>06</span>
                Typography, Grids & Layout Systems
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>07</span>
                Advanced Vector Drawing & Image Integration
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>08</span>
                Introduction to Motion Graphics
            </a>

            <a href="{{ '/lessons/comming_soon.html' | relative_url }}">
                <span>09</span>
                Introduction to 3D Graphics & Modeling
            </a>

        </div>


    </aside>


    <main class="article">

        {% if page.lesson %}
        <div class="lesson-label">
            Lesson {{ page.lesson }}
        </div>
        {% endif %}

        {{ content }}

    </main>

</div>


<footer class="site-footer">

    <div class="footer-inner">

        <div>
            <strong>Digital Graphics Foundations</strong>
            <p>Software-independent foundations of digital graphic design.</p>
        </div>

        <div class="author">
            Written and maintained by
            <a href="https://www.linkedin.com/in/hano-alolyan"
   target="_blank"
   rel="noopener noreferrer">
    Alhanouf Alolyan
</a>
        </div>

    </div>

</footer>

</body>
</html>
